<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.example.demo.model.SysUser">
		<id column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="updateUserId" property="updateUserId" jdbcType="VARCHAR" />
		<result column="createUserId" property="createUserId" jdbcType="VARCHAR" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>


	<select id="getUserByUsername" parameterType="java.lang.String"  resultType="com.example.demo.model.SysUser">
		SELECT
		*
		FROM sys_user
		WHERE userName = #{VALUE}
	</select>

	<select id="getUserRoleInfo" parameterType="java.lang.String"  resultType="com.example.demo.model.SysRole">
		SELECT
		r.*
		FROM sys_user_role ur,sys_role r
		WHERE ur.userId = #{VALUE} and ur.roleId = r.roleId
	</select>

</mapper>